@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	box-sizing: border-box;
}

.title-font {
	font-family: oswald, sans-serif;
	font-weight: 900;
	font-style: normal;
}

.brush-font {
	font-family: brush-script-std, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.text-font {
	font-family: alegreya-sc, serif;
	font-weight: 400;
	font-style: italic;
}
/* TABLE STYLE */
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

/* MENU STYLE */

.title-font {
	font-family: oswald, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.shadow-font{
	text-shadow: 2px 2px 0px #cecece;
}

.second-font {
	color: #C81307;
}

.burg {
	border-top: solid 2px #C81307;
	border-bottom: solid 2px #C81307;
}

.brush-font {
	font-family: brush-script-std, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.text-font {
	font-family: alegreya-sc, serif;
	font-weight: 400;
	font-style: italic;
}

.sub-title {
	font-family: oswald, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.menuItem:nth-last-of-type(1) {
	border: goldenrod 2px dotted;
}

.footer {
	/* keep a footer at the bottom indefinitely */
	position: absolute;
	bottom: 0;
	padding-top: 2.5;
	width: 100%;
	text-align: center;
	color: #fff;
}

.app-container {
	position: relative;
	min-height: 100vh;
}

.btn{
	border: 2px solid lightgrey;
	border-radius: 20px;
	padding: 0.5rem 1.5rem;
}

.badge {
	-webkit-text-stroke:1px white;
}

.background-image{
	background-image: url('https://images.unsplash.com/photo-1630278156268-12d56c2e135f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80');
}

/* Navbar CSS */

.mod{
	display: none;
}



@media (min-width:70rem) {
	.menu-cat:nth-of-type(2n){
		border-left: 2px solid black;
	}
	.mod{
		display: block;
	}
}


